
.transaction-history {
	border-collapse: collapse;
	font-family: Tahoma, Geneva, sans-serif;
  }
  
  .transaction-history td {
	padding: 15px;
	width: 120px;
  }
  
  .transaction-history thead {
	background-color: #2a2a2a;
	color: #ffffff;
  }
  
  .transaction-history thead td {
	font-weight: bold;
	font-size: 13px;
	border: 1px solid black;
  }
  
  .transaction-history tbody td {
	color: #636363;
	border: 1px solid #dddfe1;
  }
  
  .transaction-history tbody tr {
	background-color: #f9fafb;
  }
  
  .transaction-history tbody tr:nth-child(odd) {
	background-color: #ffffff;
  }
  